.taskCard {
  background-color: rgba(44, 44, 44, 0.5); 
  border: 3px solid rgba(68, 68, 68, 0.8); 
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 0 10px rgba(68, 68, 68, 0.8); 
  color: #d6d5d5; 
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s, border-color 0.2s;
  min-height: 100px; 
  max-height: 150px; 
  overflow: hidden; 
}

.taskCard:hover {
  transform: translateY(-4px); 
  box-shadow: 0 4px 8px rgba(2, 58, 241, 0.7), 0 0 15px rgba(2, 58, 241, 0.9); 
  background-color: rgba(44, 44, 44, 0.9); 
  border-color: rgba(68, 68, 68, 0.9); 
}

.taskCard strong {
  color: #f0f0f0; ; 
}

.taskCard p {
  margin: 8px 0;
}