.workspaceContainer {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 16px; 
  }
  
  .workspaceDiv {
    flex: 1;
    border: 2px solid;
    box-sizing: border-box;
  }
  
  .borderRed {
    border-color: var(--border-color-red);
  }
  
  .borderGreen {
    border-color: var(--border-color-green);
  }
  
  .borderBlue {
    border-color: var(--border-color-blue);
  }