.workspaceContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.workspaceDiv {
  padding: 16px;
  border: 2px solid;
  border-radius: 8px;
}

.borderRed {
  border-color: red;
}

.borderGreen {
  border-color: green;
}

.borderBlue {
  border-color: blue;
}

.taskTable {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.taskTableHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  text-align: center;
  cursor: pointer; 
  user-select: none; 
  color: #ffffff5d;
  border: #ffffff5d 1px solid;
  border-radius: 8px;
  padding: 0 8px;
}

.taskTableHeader:hover {
  color: #ffffff;
}

.sortButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 8px;
  font-size: 16px;
  color: inherit;
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}