.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(15, 23, 42, 0.96);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
}

.modalContent {
  background-color: #3b83f62f;
  border: 2px solid #3b82f6;
  border-radius: 8px;
  padding: 32px;
  color: #f0f0f0;
  max-width: 800px;
  width: 100%;
  position: relative;
}

.closeButton {
  background: none;
  border: none;
  color: #f0f0f0;
  font-size: 12px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.modalTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #f0f0f0;
}

.modalBody {
  font-size: 16px;
}

.modalBody p {
  margin: 8px 0;
}

.modalTextarea,
.modalTitleTextarea {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #3b82f6;
  border-radius: 4px;
  background-color: #3b83f62f;
  color: #f0f0f0;
  font-size: 16px;
}

.modalTitleTextarea {
  min-height: 20px;
}

.modalTextarea {
  min-height: 300px;
}

.modalSelect {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #3b82f6;
  border-radius: 4px;
  background-color: #3b83f62f;
  color: #f3f4f5;
  font-size: 16px;
}

.modalSelect option {
  background-color: #1e293b; /* t.ex. bg-slate-800 */
  color: #f0f0f0;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.updateButton {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.updateButton:hover {
  background-color: #45a049;
}

.modalInput {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #3b82f6;
  border-radius: 4px;
  margin-bottom: 12px;
  background-color: #3b83f62f;
}

.deleteButton {
  background: #f44336;
  color: white;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1rem;
  transition: background 0.2s;
}
.deleteButton:hover {
  background: #c62828;
}